*{
   margin:0; 
   padding:0;
   box-sizing: border-box;
}



html{
   font:normal 16px sans-serif;
}
section,nav,footer{
   scroll-snap-align: start;
}



.container{
   overflow-y: scroll;
   scroll-behavior: smooth;
   /* height: 100vh; */
   width: 100%;
   /* scroll-snap-type property: on the parent element*/
   /* scroll-snap-type: y mandatory; */
}

ul{
   list-style: none;
   padding: 0;
}



a{
   text-decoration: none;
   opacity: 0.75;
   color:white;
}

a:hover{
   opacity: 1;
}

a.btn{
   border-radius:4px;
   text-transform: uppercase;
   font-weight: bold;
   text-align: center;
   background-color: #3f51b5;
   opacity:1;
}



section{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding:100px 80px;

}



nav{
   display: flex;
   position: fixed;
   z-index: 500 !important;
   width:100%;
   justify-content: space-between;
   align-items: center;
   opacity:0;
   /* color:white; */
   background-color: white;
   /* border-bottom: 2px solid #3f51b5; */
   border-bottom: 2px solid #2f3d88;

   min-height:60px;
   /* height:fit-content; */
   padding: 0px 100px 0;
   animation: 1s fadeIn 0.5s forwards;
}

nav a{
   color:black;
}

@keyframes fadeIn {
   0%{
      opacity: 0;
   }
   100%{
      opacity: 1;
   }
}

nav h2 {
   font-family:'Quicksand',sans-serif ;
}

nav ul{
   display: flex;
   margin-right: -15px;
}

nav ul li{
   margin: 0 15px;
}

.grid{
   width:100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

hr{
   width:250px;
   height: 3px;
   background-color: #3f51b5;
   border:0;
   margin-bottom: 50px;
}

section h3.title{
   text-transform: capitalize;
   font:bold 32px "Open Sans", sans-serif;
   margin-bottom:30px;
   text-align: center;
}

section p{
   max-width: 775px;
   line-height: 2;
   padding: 0 20px;
   margin-bottom: 30px;
   text-align: center;
}



section:not(.hero):nth-child(even){
   background-color:#f5f5f5 ;
}

.hero{
   position: relative;
   justify-content: center;
   text-align: center;
   min-height: 100vh;
   color:white;
}

.hero .backgroundImg{
   background-image: url("../img/main.jpg");
   background-size: cover;
   position: absolute;
   top:0;
   left:0;
   width:100%;
   height:100%;
   z-index: -1;
   background-color:#80a3db; 
}

.hero h1{
   font: bold 60px "Open Sans", sans-serif;
   margin-bottom:15px;
}

.hero h3{
   font: normal 28px "Open Sans", sans-serif;
   margin-bottom:40px;
}

.hero a.btn{
   padding:20px 46px;
   color:white;
}

.hero-content-area{
   opacity:0;
   transform: translateY(100px);

   animation: 1s slideFade 1s forwards;
}

@media(max-width:800px){
   .hero{
      min-height: 600px;
   }
   .hero h1{
      font-size: 48px;
   }
   .hero h3{
      font-size:24px;
   }
   .hero a.btn{
      font-size:15px 40px;
   }
}

@keyframes slideFade {
   from{
      opacity:0;
      transform: translateY(100px);
   }
   to{
      opacity:1;
      transform: translateY(0);
   }
}



.destinations .grid li{
   height:350px;
   padding:20px;
   background-clip:content-box ;
   background-size: cover;
   background-position: center;
   position: relative;

   transition: opacity 0.15s ease-in-out;
}

.destinations .grid li.small{
   flex-basis: 30%;
}

.destinations .grid li.large{
   flex-basis: 70%;
}

.destinations .grid li:after{
   content:'Zobacz projekt!';
   font-size: 1.3rem;
   color: white;
   text-align: center;
   font-family:'Quicksand',sans-serif ;
   position: absolute;
   top:50%;left:50%;
   transform: translate3d(-50%,-50%,0);
   opacity: 0;

   transition: opacity 0.15s ease-in-out;
}

.destinations .grid li:hover{
   opacity: 0.8;
   cursor: pointer;
}
.destinations .grid li:hover:after{
   opacity: 1 !important;
}

@media(max-width:1100px){
   .destinations .grid li.small,
   .destinations .grid li.large{
      flex-basis: 50%;
   }
}
@media(max-width:800px){
   .destinations .grid li.small,
   .destinations .grid li.large{
      flex-basis: 100%;
   }
   .destinations .grid li{
      padding:20px 0;
   }
}


/* packages sections */

.packages .grid li{
   padding:20px;
   flex-basis: 50%;
   text-align: center;
}

.packages .grid li i{
   color:#8c9eff;
}

.packages .grid li h4{
   font-size:30px;
   margin:25px 0;
}

.packages .grid li p{
  
      padding: 0 !important;

}


@media(max-width:800px){
   .packages .grid li{
      flex-basis: 100%;
      padding:20px;
      /* width:100%; */
   }
}

/* testimonials */

.testimonials .quote{
   font-size: 22px;
   font-weight: 300;
   line-height: 1.5;
   margin: 40px 0 25px;
}


@media(max-width:1100px){
   .testimonials .quote{
      font-size: 18px;
      margin: 15px 0;
   }
   .testimonials .author{
      font-size: 14px;
   }
}

/* contact */

.contact form{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   width:60%;
}

.contact form .btn {
   padding: 18px 42px;
   min-width: 173px;
}

.contact form input {
   padding: 15px;
   margin-right: 30px;
   font-size:18px ;
   color:#555;
   flex:1;
}

@media(max-width:1000px){
   .contact form input{
      flex-basis: 100%;
      margin:0 0 20px 0;
   }
}

/* footer */

footer{
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   background-color: #607d8b;
   color:white;
   padding:20px 0;
}

footer ul {
   display: flex;
}

footer ul li{
   margin-left:16px;
}

footer p{
   text-transform: uppercase;
   font-size: 14px;
   opacity: 0.6;
   align-self: center;
}

@media(max-width:1000px){
   footer{
      flex-direction: column;
   }

   footer p{
      text-align: center;
      margin-bottom: 20px;
   }

   footer ul li{
      margin: 0 8px;
   }
}

