@font-face {
   font-family: 'Raleway';
   src: url('../fonts/Raleway-VariableFont_wght.ttf');
}


*{
   margin:0; 
   padding:0;
   box-sizing: border-box;
}



body{
   font-weight: normal;
   font-size: 16px;
   font-family: 'Raleway', sans-serif;

  
}


/* section,nav,footer{
   scroll-snap-align: start;
} */



/* .container{
   overflow-y: scroll;
   scroll-behavior: smooth;
   height: 100vh;
   width: 100%;
   scroll-snap-type property: on the parent element
   scroll-snap-type: y mandatory;
} */

.container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
}

ul{
   list-style: none;
   padding: 0;
}



a{
   text-decoration: none;
   opacity: 1;
   color:white;
}

a:hover{
   opacity: 1;
   color:#212529;
}
.mailto{
   opacity: 1;
   color:#212529 !important;
}


a.btn{
   border-radius:4px;
   text-transform: uppercase;
   font-weight: bold;
   text-align: center;
   background-color: #3f51b5;
   opacity:1;

   transition: background-color 0.15s ease-in-out;
}

a.btn:hover{
   background-color: #3045bb;
}

section{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top:100px;
   padding-bottom:100px;

}



nav{
   font-size: 17px;
   display: flex;
   position: fixed;
   z-index: 500 !important;
   width:100%;
   justify-content: space-between;
   align-items: center;
   opacity:0;
   /* color:white; */
   background-color: white;
   /* border-bottom: 2px solid #3f51b5; */
   border-bottom: 2px solid #2f3d88;

   min-height:60px;
   /* height:fit-content; */
   padding: 0px 100px 0;
   animation: 1s fadeIn 0.5s forwards;
}

nav a{
   color:black;
   margin-top: 10px;
   padding-bottom: 10px;
   border-bottom: 2px solid rgb(156, 156, 156);

   transition: text-shadow 0.2s ease-out;
}

nav a:hover{
   text-shadow: 0px 0px 15px rgba(20,20,20,0.45);
}

nav a:first-of-type{
   margin-top: 15px;
}

nav a:last-of-type{
   margin-bottom: 15px;
}



@media(min-width:768px){
   nav a,nav a:first-of-type{
      margin-top: 0 !important;
      padding-bottom: 0px;
      border-bottom: none;
   }
   nav a:last-of-type{
      margin-bottom: 0px;
   }
}

nav a.navbar-brand{
   margin-top: 0px;
   margin-bottom: 0px;
   padding-bottom: 0px;
   border-bottom:none;
}

nav .navbar-collapse{
   transition: all 0.17s ease-out;
}


#menuToggle
{
  position: relative;
  
  z-index: 1;
  
   /* -webkit-user-select: none;
   user-select: none; */
}




#menuToggle input
{
   position: absolute;
  display: block;
  width: 57px;
  height: 39px;
  top: 0px;
  right: 0px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
   transform: translate(-12px,0);
  /* -webkit-touch-callout: none;    */
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform:translate(0px, -8px) rotate(45deg) ;
  /* background: #232323; */
  background: rgb(156, 156, 156);
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: translate(0px,40px) rotate(135deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform:translate(0, 0px) rotate(-45deg) ;
}




@keyframes fadeIn {
   0%{
      opacity: 0;
   }
   100%{
      opacity: 1;
   }
}

/* nav h2 {
 
   font-family: 'Didact Gothic', sans-serif;
} */

nav ul{
   display: flex;
   margin-right: -15px;
}

nav ul li{
   margin: 0 15px;
}

.grid{
   width:100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

hr{
   margin-left: auto;
   margin-right: auto;
   width:250px;
   height: 3px;
   background-color: #3f51b5;
   border:0;
   margin-bottom: 50px;
}

section h3.title{
   text-transform: capitalize;
   font-weight: 500;
   /* font:bold 32px "Open Sans", sans-serif; */
   margin-bottom:30px;
   text-align: center;
}

section p{
   max-width: 775px;
   line-height: 2;
   padding: 0 20px;
   margin-bottom: 30px;
   text-align: center;
}



section:not(.hero):nth-child(even){
   background-color:#f5f5f5 ;
}

.hero{
   position: relative;
   justify-content: center;
   text-align: center;
   min-height: 100vh;

   font-family: inherit;

   /* color:white; */
   color:#3045bb;
   text-shadow: 0px 0px 12px rgba(150, 150, 150, 0.5);
   /* color:#8c9eff; */
}

.hero .backgroundImg{
   /* background-image:linear-gradient(180deg,rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.35)), url("../img/jack-t-6c5eQCWBn_c-unsplash.jpg"); */
   /* background-image:url("../img/jack-t-6c5eQCWBn_c-unsplash.jpg"); */
   background-image:linear-gradient(180deg,rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.15)),url("../img/victor-malyushev-waiRWMYRX94-unsplash.jpg");
   background-size: cover;
   position: absolute;
   top:0;
   left:0;
   width:100%;
   height:100vh;
   z-index: -1;
   background-color:#80a3db; 
}


.hero .clouds{
   display: flex;
   position: absolute;
   width:100%;
   height: auto;
   bottom:-2px;
   left:0;
   display: flex;
}


.hero h1{
   font-weight: bold;
   font-size: 45px;
   margin-bottom:15px;
   /* -webkit-text-stroke:1px rgba(255, 255, 255, 0.6); */
   /* text-shadow: 0px 2px 10px #3F3F3F; */
}

.hero h3{
   font-weight: normal;
   font-size: 20px;
   margin-bottom:40px;
   /* -webkit-text-stroke:0.1px rgba(255, 255, 255, 0.6); */
   /* text-shadow: 0px 2px 10px #1d1d1d; */
}

.hero a.btn{
   padding:10px 23px;
   color:white;
   position: relative;
   z-index: 1000;   
}



.hero a.btn:hover .env-front,.hero a.btn:hover .env-back,.hero a.btn:hover .env-content{
   opacity:1;
}
.hero a.btn:hover .env-content{
   transform: translate3d(-38%,-14px,0);
}

.env-front,
.env-back,
.env-content{
   display: none;
   opacity:0;
   position: absolute;
   top:10px;left:100%;

   /* background-position: center; */
   background-size: contain;
   background-repeat: no-repeat;
   z-index: 100;

   transition: opacity 0.15s ease-in-out, transform 0.25s ease-in-out;
}

.env-front{
   background-image: url("../img/envelope_front.png");
   transform: translate3d(-40%,-8%,0);
   width:40px;
   height:30px;
}
.env-back{
   background-image: url("../img/envelope_back.png");
   transform: translate3d(-40%,-50%,0);
   width:40px;
   height:30px;
}
.env-content{
   background-image: url("../img/envelope_content.png");
   transform: translate3d(-40%,0px,0);
   width:20px;
   height:20px;
}

.hero-content-area{
   max-width: 360px;
   opacity:0;
   transform: translateY(100px);

   padding:30px 10px;
   border-radius: 15px;
   /* background-color: rgba(255, 255, 255, 0.5); */
   background-color: rgba(255, 255, 255, 0.7);
   border:2px solid rgba(255, 255, 255, 0.7);
   backdrop-filter: blur(10px);

   /* margin-left: 50px;
   margin-right: 50px; */

   animation: 1s slideFade 1s forwards;
}

/* @media(max-width:800px){
   .hero{
      min-height: 600px;
   }
   .hero h1{
      font-size: 48px;
   }
   .hero h3{
      font-size:24px;
   }
   .hero a.btn{
      font-size:15px 40px;
   }
} */


@media (min-width: 576px) { 
   .hero-content-area{
      max-width: 560px;
   }
   .hero h1{font-size: 50px;}
   .hero h3{font-size: 25px;}
   .hero a.btn {padding:15px 46px;}
   .env-front,
   .env-back,
   .env-content{
      display: block;
   }
}


@media (min-width: 768px) {
   .hero-content-area{
   padding:30px 20px;
   }
}


@media (min-width: 992px) { 
   .hero-content-area{
      max-width: 780px;
   }
   .hero h1{font-size: 55px;}
   .hero h3{font-size: 30px;}
   .hero a.btn {padding:15px 46px;}
}


@media (min-width: 1200px) { }


@keyframes slideFade {
   from{
      opacity:0;
      transform: translateY(100px);
   }
   to{
      opacity:1;
      transform: translateY(-20px);
   }
}



.projects .grid li{
   height:420px;
   padding:20px;
   background-clip:content-box ;
   background-size: cover;
   background-position: center;
   position: relative;
   background-color: black;

   transition: opacity 0.15s ease-in-out;
}

.projects .grid li .darken{
   background-color: black;
   display: flex;
   width:100%;
   height: 100%;

   opacity: 0.55;
   transition:opacity 0.15s ease-in-out;
}

.projects .grid li.small{
   flex-basis: 40%;
}

.projects .grid li.large{
   flex-basis: 60%;
}

.projects .grid li:after{
   font-size: 1.3rem;
   color: white;
   text-align: center;
   font-family: 'Raleway', sans-serif !important;
   position: absolute;
   top:50%;left:50%;
   transform: translate3d(-50%,-50%,0);
   opacity: 1;

   transition: opacity 0.15s ease-in-out;
}

.projects .grid li:nth-of-type(1):after{
   content:'Strategia firm';
}
.projects .grid li:nth-of-type(2):after{
   content:'Transformacja cyfrowa';
}
.projects .grid li:nth-of-type(3):after{
   content:'Konsulting nieruchomościowy';
}
.projects .grid li:nth-of-type(4):after{
   content:'Szkolenia';
}


.projects .grid li:hover{
   cursor: pointer;
}
.projects .grid li:hover .darken{
   opacity: 0.1;
}


.projects .grid li:hover:after{
   opacity: 1 !important;
}

@media(max-width:1100px){
   .projects .grid li.small,
   .projects .grid li.large{
      flex-basis: 50%;
   }
}
@media(max-width:800px){
   .projects .grid li.small,
   .projects .grid li.large{
      flex-basis: 100%;
   }
   .projects .grid li{
      padding:20px 0;
   }
}


/* packages sections */
.packages .grid svg{
   height: 64px;
   width: 64px;
}

.packages .grid li{
   padding:20px;
   flex-basis: 50%;
   text-align: center;
}

.packages .grid li i{
   color:#8c9eff;
}

.packages .grid li h4{
   font-size:30px;
   margin:25px 0;
}

.packages .grid li p{
  
      padding: 0 !important;

}


@media(max-width:800px){
   .packages .grid li{
      flex-basis: 100%;
      padding:20px;
      /* width:100%; */
   }
}

/* testimonials */

.testimonials .quote{
   font-size: 22px;
   font-weight: 300;
   line-height: 1.5;
   margin: 40px 0 25px;
}


@media(max-width:1100px){
   .testimonials .quote{
      font-size: 18px;
      margin: 15px 0;
   }
   .testimonials .author{
      font-size: 14px;
   }
}

/* contact */

#kontakt{
   display: flex;
   width:100%;
   font-size: 1.1rem;
}
#kontakt .form-check-label{
   font-size: 0.9rem;
}



.mailto {
   text-decoration: none;
   border-bottom: 1px solid black;
}
/* .contact form{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   width:60%;
}

.contact form .btn {
   padding: 18px 42px;
   min-width: 173px;
}

.contact form input {
   padding: 15px;
   margin-right: 30px;
   font-size:18px ;
   color:#555;
   flex:1;
}

@media(max-width:1000px){
   .contact form input{
      flex-basis: 100%;
      margin:0 0 20px 0;
   }
} */

/* footer */

footer{
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   background-color: #607d8b;
   color:white;
   padding:20px 0;
}

footer ul {
   display: flex;
}

footer ul li{
   margin-left:16px;
}

footer p{
   text-transform: uppercase;
   font-size: 14px;
   opacity: 0.6;
   align-self: center;
}


@media(max-width:1000px){
   footer{
      flex-direction: column;
   }

   footer p{
      text-align: center;
      margin-bottom: 20px;
   }

   footer ul li{
      margin: 0 8px;
   }
}